.yejiaokuang{
	width:600px;
	padding-top: 10px;
	clear:both;
	background-position:center;
	height:80px;
}
.youqinglianjiekuang p{
	font-size:12px;
	padding:40px 0 0 0;

	font-weight: bold;
}
.beiankuang p{

	font-size:12px;
}

